@import "tailwindcss";

:root {
  --background: #D4E6D2;
  --foreground: #3C4D03;
  --primary: #2E6F40;
  --secondary: #666A6D;
  --accent: #E8F3EB;
  --background-2: #16A34A1A;
  --light-primary: #16A34A;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #D4E6D2;
    --foreground: #3C4D03;
    --primary: #2E6F40;
    --secondary: #666A6D;
    --accent: #E8F3EB;
    --background-2: #16A34A1A;
    --light-primary: #16A34A;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-background-2: var(--background-2);
  --color-light-primary: var(--light-primary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

